table{
    border-spacing: 0;
}
a:link {
     color: #FC622F;
     font-family: 'PacificoRegular';
     text-decoration: none;

}
 a:hover {
     color:#111111;
     text-decoration: none;
     font-family: 'PacificoRegular';
}
 a:visited {
     color: #f0bb1a;
     text-decoration: none;
     font-family: 'PacificoRegular';
 }

@font-face {
    font-family: 'PacificoRegular';
    src: url('font/pacifico/Pacifico-webfont.eot');
    src: url('font/pacifico/Pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/pacifico/Pacifico-webfont.woff') format('woff'),
         url('font/pacifico/Pacifico-webfont.ttf') format('truetype'),
         url('font/pacifico/Pacifico-webfont.svg#PacificoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'CopseRegular';
    src: url('font/copse-fontfacekit/Copse-Regular-webfont.eot');
    src: url('font/copse-fontfacekit/Copse-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/copse-fontfacekit/Copse-Regular-webfont.woff') format('woff'),
         url('font/copse-fontfacekit/Copse-Regular-webfont.ttf') format('truetype'),
         url('font/copse-fontfacekit/Copse-Regular-webfont.svg#CopseRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.content{
    margin-left: 0%;
    margin-right: 0%;
}
.body {
	background-color:#66ccff;
	background-repeat:repeat;
    text-align: center;
    margin: 0;
}
#areasocial {

    position: absolute;
    text-align: left;
    margin-left:500px ;
    margin-top:50px;
	height:90px;
	width:650px;
	}
	
#areamenu {
	position:fixed;
	float:left;
	top:30px;
	width:150px;
	}

		
	.pulsantisocial{
	height:100px;
	width:300px;
	margin-left:50px;
	margin-right:50px;
	}
		
	.pulsantimenu{
	height:100px;
	width:600px;
	
	}
	#presentazione{
		float:right;
		height:250px;
		width: 300px;
		margin-right: 50px;
		margin-top:20px;
		margin-bottom:50px;
	    text-align:center;

	}
	#video{
		width:400px;
		height: 300px;
		background-image:url('../img/containerleft.png');
		background-repeat:no-repeat;
	
	}
	
		
	.titolo{
		font-family: "PacificoRegular";
	    font-size:60px;
		color:#666;
		line-height:25px;

	}
	.titolovignette{
		
		font-family: "PacificoRegular";
	    font-size:20px;
		color:#FC622F;
		line-height:0px;

	}
			
	.titologrande{
	font-family: "PacificoRegular";
	font-size:xx-large;
	color: #FC622F;	
	}
 .payoff{
     font-family: "CopseRegular";
     font-size:20px;
     color: #FFFFFF;

 }
		.titoloenorme{
	font-family: "PacificoRegular";
	font-size: 30px;
	color: #FC622F;	
	}
	.titolooffriamo{
	font-family: "PacificoRegular",serif;
	font-size: 40px;
	color: #FC622F;
    line-height:10px;
	}
 .titolofunziona{
     font-family: "PacificoRegular",serif;
     font-size: 40px;
     color: #FC622F;
     line-height:10px;
     text-align:left;
     margin-left: 40px;

 }
	.testo{
        text-align: left;
        font-family: "CopseRegular";
        font-size:18px;
        color:#999;
		}


 .testo_elenco{
     text-align: left;
     font-family: "CopseRegular";
     font-size:18px;
     color:#999;
 }

 .testofunziona{
	font-family: "CopseRegular";
	font-size:15px;
    color:#999;
		}
 .testoconviene{
     font-family: "CopseRegular";
     font-size:25px;
     color:#999;
     margin-left:40px ;
 }

		
	.testobig{
    text-align: center;
	font-family: "CopseRegular";
	font-size:30px;
    color:#FC622F;
		}
		
	.testoinfo{
	font-family: "PacificoRegular";
	font-size:17px;
    color:#333;
    text-align:center;
	}
	#fasciasponsor{
		height:90px;
		width: 1000px;
		background-color:#FFF;
		alignment-adjust:central;
	}

	#maggioriinfo{
		height:90px;
		width: 1000px;
		alignment-adjust:central;
		background-image:url('../img/areavuota.png');
	}

    .likes{
        line-height: 10px;
        text-align: center;
        font-family: "pacificoregular",serif;
        font-size:15px;
    }


