<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/public/css/style.css" rel="stylesheet" type="text/css">

<title>Untitled Document</title>
</head>

<body>
<table width="1000" height="500" cellpadding="30">
		<tr height="500">
        	<td width="50%" align="center" >
            <iframe  src="http://player.vimeo.com/video/39701901?portrait=0" width="500" height="400" frameborder="20"  webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </td>
        	<td width="50%">
            <center>
            <a class="titologrande"> Fatti portare la spesa a casa, dalla community! </a>
            <p class="testo">Ti è mai capitato di renderti conto di avere bisogno di qualcosa in casa, ma di non avere né tempo né modo di raggiungere il supermercato? Con Milk, please! puoi farti portare a casa velocemente ciò di cui hai bisogno e guadagnare facendo piccole consegne. </p>
            <a href="#"><img src="/public/img/bottoneinvitop.png" / onmouseover='this.src = "/public/img/bottoneinvito.png";' onmouseout="this.src='/public/img/bottoneinvitop.png';">
                    </a>
            </center>
            </td>
        </tr>
  </table>

</body>
</html>
