<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href="/public/css/style.css" rel="stylesheet" type="text/css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>
<body>

<table width="1000" border="0" >
  <tr height="150">
    <td width="400"> <p class="titolofunziona" align="center"> Come Funziona?</p></td>
    <td width="500"> <p align="left" class="testofunziona">Milk, please! è un servizio accessibile da web, smartphone e da speciali postazioni nei supermercati. È possibile inviare una richiesta agli altri utenti nella zona che possono accettare ed eseguire la consegna.</p></td>
  </tr>
</table>
<table width="1000" border="0" cellpadding="10">
  <tr height="150">
    <td><img src="/public/img/vignette/1-a.png" /></td>
    <td><img src="/public/img/vignette/2-a.png" /></td>
    <td><img src="/public/img/vignette/3-a.png" /></td>
  </tr>
  
  <tr valign="top" height="200">
            <td width="300"><p align="center" class="titolovignette"> 
            Oops! manca qualcosa in frigo...</a>
             <p align="center" class="testo"> Hai il tempo contato e proprio non puoi (o non vuoi) andare al supermercato. Invii la richiesta con Milk,Please!</p>
         </td>
 
    <td width="300"><p align="center" class="titolovignette"> 
            Nel Frattempo al supermercato...</a>
             <p align="center" class="testo"> Qualcuno sta facendo acquisti, visualizza la tua richiesta: la trova accettabile ed effettua l'acquisto per te!</p>
         </td>
         
  <td width="300"><p align="center" class="titolovignette"> 
            Non ti resta che aspettare...</a>
             <p align="center" class="testo"> La spesa ti arriva direttamente a casa, mentre il sistema gestisce il pagamento online preoccupandosi di compensare chi effettua la consegna.</p>
         </td>
  </tr>
</table>

</body>
</html>
